<div class ="collapsible-header">
	<i class="material-icons {{id}}-icon">{{icon}}</i>
	{{title}}
	<div class="subtitle {{id}}-text right">{{subtitle}}</div>
</div>
<div class="collapsible-body">
	<div class="subtitle-mobile {{id}}-text right">{{subtitle}}</div>
	{{{contents}}}
</div>